apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee-deployment
  namespace: employee
spec:
  replicas: 1
  selector:
    matchLabels:
      app: employee
  template:
    metadata:
      labels:
        app: employee
    spec:
      containers:
        - name: employee-container
          image: employeeprofilemanagement_image:32
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
